# Enable mod_rewrite
RewriteEngine On

# Redirect non-existing files to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L]

# Set correct PHP handler
<IfModule mime_module>
  AddHandler application/x-httpd-ea-php82___lsphp .php .php8 .phtml
</IfModule>

# Prevent directory listing
Options -Indexes
